:root {
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
  --transition-duration: 0.3s;
  --tile-transition: 0.15s;
}

:root, [ts-theme="light"] {
  --background-colour: #eee;
  --text-colour: #000;
  --border: 1px solid #000;
  --input-colour: #eee;
  --accent-colour: #59f;

  --tile-unknown: #fff;
  --tile-safe: #afa;
  --tile-mine: #faa;
  --tile-flag: #ffa;
}

[ts-theme="dark"] {
  --background-colour: #444;
  --text-colour: #fff;
  --border: 1px solid #fff;
  --input-colour: #aaa;
  --accent-colour: #f95;

  --tile-unknown: #888;
  --tile-safe: #0b0;
  --tile-mine: #b00;
  --tile-flag: #bb0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 2vmin;
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
  background-color: var(--background-colour);
  display: flex;
  padding: 15px;
  transition: background-color var(--transition-duration) ease;
}

div, input, button {
  font-family: var(--font-family);
  color: var(--text-colour);
  font-size: 1rem;
}

div {
  display: flex;
}

#grid {
  --max-width: 90vw;
  --max-height: 90vh;
  --cols: 0;
  --rows: 0;
  --tile-size: min(var(--max-width) / var(--cols), var(--max-height) / var(--rows));

  display: grid;
  border: var(--border);
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-template-rows: repeat(var(--rows), var(--tile-size));
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin: auto;
  z-index: 1;
  position: relative;
}

#grid > .tile {
  --colour: var(--tile-unknown);

  width: var(--tile-size);
  height: var(--tile-size);
  border-top: var(--border);
  border-left: var(--border);
  background-color: var(--colour);
  justify-content: center;
  align-items: center;
  transition: background-color var(--tile-transition) ease,
              color var(--tile-transition) ease;
  font-size: calc(min(1rem, var(--tile-size) * 0.75));
  user-select: none;
}

#grid > .tile[data-row="0"] { border-top: none; }
#grid > .tile[data-col="0"] { border-left: none; }

#grid > .filter {
  opacity: 0;
  position: absolute;
  inset: 0;
  background-color: #0003;
  z-index: 10;
  transition: opacity var(--transition-duration) ease;
  pointer-events: none;
}

#grid.gameover > .filter {
  opacity: 1;
}

#grid.win > .filter {
  background-color: #00ff0026;
}

#grid.lose > .filter {
  background-color: #ff000026;
}

#controls, #options {
  --gap: 0.75vmin;

  background-color: var(--tile-unknown);
  border: var(--border);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  padding: calc(var(--gap) / 2);
  gap: var(--gap);
  align-items: center;
  opacity: 0.75;
  transition: opacity var(--transition-duration) ease, 
              background-color var(--transition-duration) ease,
              color var(--transition-duration) ease;
  z-index: 999;

  > *:not([type="checkbox"]) {
    width: 100%;
  }

  > label {
    text-align: center;
  }

  > div {
    gap: var(--gap);
    align-items: center;
    justify-content: center;
  }
}

#controls:hover, #options:hover {
  opacity: 1;
}

#controls {
  top: calc(var(--gap) * 2);
  grid-template-columns: repeat(3, 1fr 2fr) 1fr;
}

#options {
  bottom: calc(var(--gap) * 2);
  grid-template-columns: repeat(3, 1fr);
}

#timer {
  position: absolute;
  top: 0.75vmin;
  left: 0.75vmin;
}

#theme-selector {
  display: none;
}

#inputToggleLabel {
  --colour: var(--tile-mine);

  position: absolute;
  top: 0.75vmin;
  right: 0.75vmin;
  width: 4vmax;
  height: 4vmax;
  border: var(--border);
  border-radius: 5px;
  background-color: var(--colour);
  transition: background-color 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inputToggle {
  display: none;
}

#inputToggleText {
  font-size: 1vmax;
}

input, button {
  background-color: var(--input-colour);
  border: var(--border);
  accent-color: var(--accent-colour);
  border-radius: 5px;
  transition: background-color var(--transition-duration) ease,
              accent-color var(--transition-duration) ease;
}

input[type="number"] {
  border: none;
  border-bottom: var(--border);
  border-radius: 5px 5px 0 0;
}